# =========================
# Python / PyTorch
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/
.env.*

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Dataset (DO NOT COMMIT)
# =========================
data/

# =========================
# Model artifacts & logs
# =========================
runs/
reports/figures/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.log
